.gallery {
  width: 100%;
  height: 250px;
  overflow-x: auto;

  .images {
    width: 260%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 4px;

    .main-img {
      position: relative;
      > img {
        object-fit: cover;
      }
    }

    .other-img {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4px;

      .exterior-img,
      .interior-img {
        position: relative;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4px;
        overflow: hidden;
        .img-box {
          position: relative;
          > img {
            object-fit: cover;
          }
        }
        .badge {
          position: absolute;
          top: 6px;
          left: 3px;
          z-index: 1;
          background-color: rgba(0, 0, 0, 0.616);
          color: var(--whiteish);
          font-weight: 600;
          font-size: 12px;
          padding: 3px 7px;
          border-radius: 5px;
        }
      }

      .interior-img {
        .last-box {
          position: relative;

          .img-box {
            position: relative;
            width: 100%;
            height: 100%;
            > img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }
          .bg-color {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.616);
            display: flex;
            align-items: center;
            justify-content: center;
            .badge-all {
              color: var(--whiteish);
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .gallery {
    height: 350px;
  }
}
@media screen and (min-width: 650px) {
  .gallery {
    height: 450px;
  }
}

@media screen and (min-width: 800px) {
  .gallery {
    height: 550px;
  }
}
@media screen and (min-width: 1000px) {
  .gallery {
    height: 600px;
    .images {
      width: 100%;
      display: grid;
      grid-template-columns: 5fr 2fr;
      .other-img {
        grid-template-columns: 1fr;
      }
    }
  }
}
