.gallery-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: max(100vh, 100vw);
  background-color: rgba(0, 0, 0, 0.911);
  overflow-y: scroll;
  .gm-content {
    .row1 {
      display: flex;
      align-items: center;
      padding: 20px;
      > ul {
        display: flex;
        align-items: center;
        gap: 15px;
        > li {
          color: var(--light-gray);
          font-weight: 600;
          font-size: 14px;
          padding: 3px 5px;
        }
      }
      > img {
        margin-left: auto;
        margin-right: 10px;
      }
    }
    .frame {
      width: 100%;
      max-width: 900px;
      height: min(85vh, 100vw);
      overflow: hidden;
      margin: 0vh auto 0 auto;
      .splide {
        height: 100%;
        .splide__arrows {
          .splide__arrow {
            > svg {
              fill: var(--medium-blue);
              padding: 3px;
            }
          }
        }
        .splide__track {
          width: 100%;
          height: 100%;
          .splide__list {
            .splide__slide {
              > img {
                object-fit: contain;
                width: 100%;
                height: 100%;
              }
            }
          }
        }
        .splide__pagination {
          display: inline-block;
          text-align: center;
        }
      }
    }
  }
}

.open {
  display: block;
}
.close {
  display: none;
}

@media screen and (max-width: 500px) {
  .gallery-modal {
    .gm-content {
      .frame {
        margin: 20vh auto 0 auto;
      }
    }
  }
}
