.heading {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  margin-top: 15px;
  .row1 {
    display: flex;
    .title {
      font-weight: 600;
      font-size: 20px;
    }
    > img {
      margin-right: 10px;
      margin-left: auto;
    }
  }
  .description {
    margin-top: 5px;
    font-size: 17px;
  }
  .location {
    color: var(--medium-gray);
  }
}
