.add-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  margin-top: 20px;
  background-color: var(--mediumlight-gray);
  > h2 {
    margin-top: 30px;
  }
  > h2::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 18px;
    margin-right: 2px;
    background-color: var(--medium-blue);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .addimg {
    position: relative;
    border: 1px solid var(--light-gray);
    color: var(--dark-gray);
    background-color: white;
    border-radius: 8px;
    padding: 8px 10px;
    margin-top: 5px;
    width: 100%;

    > input {
      position: relative;
      z-index: 2;
      width: 100%;
      height: 60px;
      opacity: 0;
    }
    .img-display {
      padding-top: 10px;
      width: 100%;
      overflow-y: scroll;
      .img-content {
        display: flex;
        gap: 15px;
        padding: 0 5px;
        .img-box {
          position: relative;
          .deleteimg {
            position: absolute;
            top: -10px;
            right: -10px;
            background-color: white;
            border-radius: 10px;
            padding: 2px;
          }
          .car-image {
            object-fit: cover;
          }
        }
      }
    }
  }
  .addimg::after {
    content: "";
    background-image: url("../../assets/global/addimg.png");
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    z-index: 1;
    left: calc(50% - 25px);
  }
  > label {
    color: var(--dark-gray);
    margin-top: 20px;
    font-size: 15px;
  }
  > input,
  select {
    border: 1px solid var(--light-gray);
    color: var(--dark-gray);
    outline: none;
    border-radius: 8px;
    padding: 8px 10px;
    margin-top: 5px;
    width: 100%;
  }
  > textarea {
    resize: none;
    border: 1px solid var(--light-gray);
    color: var(--dark-gray);
    outline: none;
    border-radius: 8px;
    padding: 8px 10px;
    margin-top: 5px;
    width: 100%;
  }
  .small-input {
    width: auto;
  }
  .group1 {
    margin-top: 20px;
    > label {
      color: var(--dark-gray);
      font-size: 15px;
    }
    > div {
      > input {
        border: 1px solid var(--light-gray);
        color: var(--dark-gray);
        outline: none;
        border-radius: 8px;
        padding: 8px 10px;
        margin-top: 5px;
        margin-right: 20px;
      }
    }
    > span {
      font-size: 14px;
      color: var(--medium-gray);
    }
  }
  .group2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    > div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      > label {
        color: var(--dark-gray);
        font-size: 15px;
      }
      > input {
        border: 1px solid var(--light-gray);
        color: var(--dark-gray);
        outline: none;
        border-radius: 8px;
        padding: 8px 10px;
        margin-top: 5px;
        width: 100%;
      }
    }
  }
  .group3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    > div {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
      > label {
        color: var(--dark-gray);
        font-size: 15px;
      }
      > input {
        border: 1px solid var(--light-gray);
        color: var(--dark-gray);
        outline: none;
        border-radius: 8px;
        padding: 8px 10px;
        margin-top: 5px;
        width: 100%;
      }
    }
  }
  .button-blue {
    margin: 30px 0;
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  .feedback {
    width: 100%;
    text-align: center;
    font-size: 14px;
  }
}
