.nav-filter {
  .row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    width: 100%;
    .category,
    .brand,
    .years {
      position: relative;
      .dropdown {
        position: absolute;
        z-index: 2;
        background-color: var(--whiteish);
        padding: 10px;
        border-radius: 10px;
        left: 0;
        top: 40px;
        max-height: 500px;
        overflow: hidden;
        overflow-y: scroll;
        > li {
          > a {
            margin: 5px 0;
            padding: 2px 0;
            display: block;
            font-size: 14px;
            font-weight: 600;
            color: var(--medium-gray);
          }
        }
        > span {
          display: block;
          margin: 10px 0;
        }
      }

      .open {
        display: block;
      }
      .close {
        display: none;
      }
      @media screen and (max-width: 330px) {
        .button-empty {
          padding: 5px 5px;
        }
      }
      .button-empty {
        white-space: nowrap;
        max-width: 100%;
        text-transform: capitalize;
      }
    }
    .years {
      .dropdown {
        > span {
          text-align: center;
        }
      }
    }
  }
  .row2 {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    justify-content: space-around;
    > a {
      font-weight: 600;
      font-size: 13px;
      padding: 3px 5px;
      color: var(--medium-gray);
    }
    .sort-active {
      color: var(--dark-gray);
      border-bottom: 1px solid var(--dark-gray);
    }
  }
}
