:root {
  --light-blue: #4dadfe;
  --medium-blue: #3abefe;
  --dark-blue: #4dadfe;
  --black: #080705;
  --light-gray: #c4c1c0;
  --mediumlight-gray: #f6f6f7;
  --mediumlight2-gray: #eeeef0;
  --medium-gray: #828282;
  --dark-gray: #262626;
  --rust: #ba3f1d;
  --green: #4ad493;
  --whiteish: #f1f6f7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.app {
  width: calc(100vw - (100vw - 100%));
  overflow-x: hidden;
}
main {
  /* margin for navigation */
  margin-top: 115px !important;
}

.loading-listings {
  padding-top: 30px;
  .navl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
    .boxl {
      background: linear-gradient(#3abdfe91, #eeeef0, #f1f6f7);
      background-size: 200% 200%;
      animation: bganime 5s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
      width: 30%;
      height: 17px;
      max-width: 100px;
      border-radius: 6px;
    }
  }
  .cpl {
    margin-top: 30px;
    .imgl,
    .titl,
    .descl,
    .locl {
      background: linear-gradient(90deg, #3abdfe91, #eeeef0, #f1f6f7);
      background-size: 200% 200%;
      animation: bganime 3s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
      margin-left: 10px;
      border-radius: 6px;
    }
    .imgl {
      width: 100%;
      height: 285px;
      margin-left: 0;
      border-radius: 0;
    }
    .titl {
      width: 60%;
      max-width: 200px;
      height: 18px;
      margin-top: 5px;
    }
    .descl {
      width: 80%;
      max-width: 300px;
      height: 20px;
      margin-top: 10px;
    }
    .locl {
      width: 40%;
      max-width: 120px;
      height: 14px;
      margin-top: 5px;
    }
  }
}
@keyframes bganime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

li {
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: black;
  text-decoration: none;
}
input,
select,
textarea {
  font-size: 16px !important;
}

.section-wide {
  width: 100%;
}

.section-narrow,
.center-align {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto 0 auto;
}

/* BUTTON STYLES */
.button-green,
.button-blue,
.button-empty {
  padding: 5px 10px;
  font-size: 13px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: var(--dark-gray);
}

.button-green {
  background-color: var(--green);
}
.button-blue {
  background-color: var(--medium-blue);
}

.button-empty {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.button-toggle-on,
.button-toggle-off {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 75px;
  height: 35px;
  padding: 5px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  .switch {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: var(--whiteish);
    border-radius: 5px;
  }
}

.button-toggle-on {
  color: var(--dark-gray);
  background-color: var(--green);
}

.button-toggle-off {
  flex-direction: row-reverse;
  color: var(--medium-gray);
  background-color: var(--light-gray);
}

.loading {
  transform: rotate(20deg);
  animation: spin 2s linear infinite;
  display: block;
  margin: 3px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.no-listings {
  text-align: center;
  color: var(--green);
  margin-top: 50px;
}
