:root {
  --light-blue: #4dadfe;
  --medium-blue: #3abefe;
  --dark-blue: #4dadfe;
  --black: #080705;
  --light-gray: #c4c1c0;
  --medium-gray: #828282;
  --dark-gray: #262626;
  --rust: #ba3f1d;
  --green: #4ad493;
  --whiteish: #f1f6f7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.app {
  width: calc(100vw - (100vw - 100%));
  overflow-x: hidden;
}
main {
  /* margin for navigation */
  margin-top: 104px;
}

li {
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: black;
  text-decoration: none;
}

.section-wide {
  width: 100%;
}

.section-narrow,
.content {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto 0 auto;
}

/* BUTTON STYLES */
.button-green,
.button-blue,
.button-empty {
  padding: 5px 10px;
  font-size: 13px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: var(--dark-gray);
}

.button-green {
  background-color: var(--green);
}
.button-blue {
  background-color: var(--medium-blue);
}

.button-empty {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
